@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;



.main-container.blog {
  padding-top: 2rem;
  margin-bottom: 2rem;
  
  &::after,
  &::before {
    content: '';
    height: 12.5rem;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
  }
  &::before {
    display: block;
    background: url(./assets/bg-blog.jpg) no-repeat top left;
    background-size: cover;
    background-position: center;
  }
  &::after {
    background: $primary-color;
    filter: brightness(0.75);
    opacity: .75;
  }

  &.service {
    padding-top: 1rem;

    &::after,
    &::before {
      content: '';
      height: 10.5rem;
    }
  }
}

.blog {
  &__header {
    @include responsive-container();
    position: relative;
    z-index: 1;
    height: 12.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 1;
  }

  &__subtitle {
    color: $white-color;
    margin: 0;
    font-size: .9rem;
    text-align: center;
  }

  &__title {
    color: $white-color;
    margin: 1rem 0 .5rem;
    font-size: 1.4rem;
    @include mq(lg) {
      font-size: 1.8rem;
    }
  }
}