@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;

.home {

  .main-container {
    @include mq(lg) {
      display: grid;
    }
  }

  &__intro {
    background-position: bottom center;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 2rem 0;
    margin-bottom: 2rem;
    
    &-how {
      color: $muted-color;
      font-size: .96rem;
      text-align: center;
      display: block;
      margin-bottom: .75rem;
    }

    &-boxes {
      display: grid;
      align-items: center;
      grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
      gap: 1rem;
    }

    &-box {
      width: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0 1rem;
      text-align: center;
      position: relative;

      &::after {
        @include mq(xl) {
          content: '';
          height: 100%;
          width: 1px;
          background: rgba($border-color, .5);
          position: absolute;
          right: -.5rem;
        }
      }

      &:last-child {
        &::after {
          display: none;
        }
      }


      &-title {
        color: $text-color;
        margin-bottom: .75rem;
        font-size: 1.25rem;
      }

      &-text {
        font-size: .9rem;
        line-height: 1.5;
      }

      &-img {
        width: 5rem;
        height: 5rem;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 50%;
        border: 2px solid $tertiary-color;
        margin-bottom: 1rem;
        padding: 1rem;
        img {
          filter: saturate(.5);
        }
      }
    }
    
    &-text {
      font-size: .98rem;
      text-align: center;
      margin: 0 auto 2.5rem;
      max-width: 36rem;
    }
  }
}