@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;

.faq {
  background: url(./assets/hex-pattern.svg) no-repeat center left;
  padding: 2rem 0;
  margin-bottom: 2rem;
  position: relative;

  &__content {
    display: grid;
    @include mq(lg) {
      gap: 1rem;
    }

    &-text {
      text-align: center;
      margin-bottom: 2rem;
    }

    &-boxes {
      @include mq(lg) {
        margin: auto 4rem;
      }
    }
    
    .faq-box {
      background: $white-color;
      border: 1px solid #f3f3f3;
      height: auto;
      border-radius: 25px;
      margin-bottom: .75rem;
      summary {
        padding-left: 1.5rem;
        font-size: 1rem;
        padding-right: 2.75rem;
        &::marker {
          content: none;
        }
        &::after {
          content: "❮";
          position: absolute;
          right: 1.5rem;
          transform: rotate(180deg);
          display: flex;
          height: 100%;
          top: 0;
          align-items: center;
        }
      }

      &[open] summary {
        background: $secondary-color;
        color: $white-color;
        border-radius: 20px;
        &::after {
          transform: rotate(270deg);
        }
      }

      &.hidden {
        display: none;
      }
    }

    .faq-header {
      padding: 1rem;
      font-weight: 600;
      background-color: transparent;
      user-select: none;
      cursor: pointer;
      position: relative;
    }

    .faq-content {
      padding: 1rem 2rem;
      font-size: .96rem;
      p {
        margin: 0;
        line-height: 1.5;
      }
    }
  }

  &__info {
    button {
      margin: 2rem auto 0;
      display: flex;
    }
  }

}