@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;

.header {
  position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  top: 0;
  padding: 0;
  width: 100%;
  z-index: 2;
  transition: all linear .2s;

  &.hidden {
    transform: translateY(-100%);
    transition: transform 0.3s ease;
  }
  
  &.visible {
    transform: translateY(0);
    transition: transform 0.3s ease;
    background-color: $white-color;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.079);
    .menu-item a,
    .logo a {
      color: $text-color;
      &:hover {
        color: $primary-color;
      }
    }
    .header__menu-icon span {
      background: $text-color;
    }
    [class*="logo"] img {
      filter: none;
      @include mq(lg) {
      }
    }
  }

  &.opened {
    .menu-item a,
    .logo a {
      color: $white-color;
    }
    .header__menu-icon span {
      background: $white-color;
    }
    &.visible [class*=logo] img {
      filter: invert(1);
    }
    &.visible .flag img {
      filter: none;
    }
  }

  &.opened.hidden {
    transform: translateY(0);
  }

  &__container {
    display: flex;
    align-items: center;
    height: calc(map-get($sizes, xxl) + map-get($sizes, s)); 
    @include responsive-container();
    margin: 0;
    @include mq(md) {
      height: 100%;
    }
  }

  &__top {
    @include mq(md) {
      height: 3.5rem;
    }
  }

  &__menu-icon {
    line-height: 1;
    text-align: right;
    width:  map-get($sizes, l);
    height: map-get($sizes, l);
    position: relative;
    margin-left: auto;
    cursor: pointer;
    z-index: 2;
    span {
      background: $white-color;
      display: block;
      width: map-get($sizes, l);
      height: 1px;
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      transition: 0.5s;
      &.line-one {
        transform: translateY(-8px);
      }
      &.line-two {
        transform: translateY(4px);
      }
    }
    &.active {
      span {
        &.line-one {
          transform: rotate(45deg) translateY(0);
        }
        &.line-two {
          transform: rotate(-45deg) translateY(0);
        }
      }
    }
    @include mq(md) {
      display: none;
    }
    &.hide {
      display: none;
    }
  }
}
