@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;

.nav-top {
  display: none;
  position: absolute;
  width: 100svw;
  left: 0;
  margin: 0;

  &__menu {
    background: transparent;
    box-shadow: 0px 6px 10px rgba(0,0,0,.16);
    position: absolute;
    left: 0;
    list-style: none;
    margin: 0;
    padding: 1rem;
    width: 100%;

    .menu-item {
      border-bottom: 1px solid $tertiary-color;

      &:last-child {
        border-bottom: none;
      }

      a {
        font-size: .9rem;
        font-weight: 500;
        color: $white-color;
        display: flex;
        position: relative;
        align-items: center;
        text-decoration: none;
        padding: 0 1rem;
        height: 96%;
        transition: opacity .2s ease-in-out;

        &:hover {
          color: rgba($white-color, .85);
        }

        &[href*="contacto"] {
          background: $tertiary-color;
          border-radius: 6.25rem;
          padding: 0 1.25rem;
          height: 3rem;
          top: .25rem;
          color: $white-color;
          text-align: center;
          display: flex;
          justify-content: center;
          gap: .25rem;
          transition: all .25s ease-in-out;
          &:hover {
            background: darken($tertiary-color, 5%);
          }
          &::after {
            content: '\e90a';
            font-family: "jzmoz";
            font-size: 1.25rem;
            transform: rotate(20deg);
          }
        }
      }

      @include mq(md) {
        border-bottom: none;
        height: 100%;
      }
    }

    .sub-menu {
      display: none;
    }

    @include mq(md) {
      display: flex;
      gap: map-get($sizes, s);
      box-shadow: none;
      position: relative;
      padding: 0;
      top: 0;
      height: 3.5rem;
      display: flex;
      align-items: center;
    }
  }

  &.active {
    display: block;
    .nav-top__menu {
      background: $primary-color;
      background-image: linear-gradient(to right, $primary-color 0%, #220d49 100%);
      margin-top: -2rem;
      padding-top: 4rem;
      .menu-item {
        border-bottom: 1px solid rgba($border-color, .06);
        &:last-child {
          border-bottom: none;
        }
      }
      a {
        padding: .75rem 1rem;
      }
    }
  }

  @include mq(md) {
    display: block;
    position: relative;
    margin-left: auto;
    width: auto;
  }
}
