@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;

.table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1rem;
  font-size: 0.875rem;
  color: $text-color;

  &-responsive {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
  }

  & > tbody {
    vertical-align: inherit
  }

  & > thead {
    vertical-align: bottom
  }

  &-striped > tbody > tr:nth-of-type(odd) > * {
    background-color: rgba(0, 0, 0, 0.02);
  }

  & > :not(caption) > * > * {
    padding: .75rem 1.25rem;
  }

  th[scope="row"] {
    text-align: left;
  }

  th[scope="col"] {
    background: $primary-color;
    color: $white-color;
    font-size: 1rem;
  }

  th[scope="col"]:empty {
    background: none;
  }

  td, th {
    border-radius: .25rem;
  }

}