@use '../abstracts/mixins' as *;
@use '../abstracts/variables' as *;
@use '../abstracts/functions' as *;

.wp-block-image {
  margin-bottom: 2rem;
  &.size-full {
    max-width: 100%;
  }
  &.size-full img {
    max-width: 100%;
    border-radius: .5rem;
  }
  img {
    border-radius: .5rem;
  }
}

.image-left {
  border-radius: 4px;
  float: left;
  margin-right: 1rem;
}

pre.wp-block-code.consola {
  margin: -4.25rem 0 1rem;
  padding-top: 2rem;
  position: relative;
  z-index: 0;
  &::before {
    content: 'consola';
    position: absolute;
    left: 0;
    background: #e3e3e3;
    width: calc(100% - 2rem);
    padding: .15rem 1rem;
    font-size: .9rem;
    top: 2rem;
  }
  code {
    border-radius: 0 0 .75rem .75rem;
    padding: 2.5rem 1rem .5rem;
  }
}

.wpp-list li a {
  color: red !important;
}

ol.wp-block-list {
  list-style: none;
  counter-reset: item;
  position: relative;
  padding-left: 2.5rem;
  li {
    counter-increment: item;
  }
  li:before {
    font: normal normal bold 1.1rem / 1.6 "Cairo", sans-serif;
    content: counter(item);
    background: $primary-color;
    border-radius: 100%;
    color: $white-color;
    text-align: center;
    display: inline-block;
    position: absolute;
    left: 0;
    height: 1.75rem;
    width: 1.75rem;
  }
}

.form-control:focus {
  box-shadow: none !important;
  border-color: #0e1625 !important;
}

.dropdown-item.active, 
.dropdown-item:active {
  background-color: #0e1625 !important;
}

.bootstrap-select .dropdown-menu {
  max-height: 15rem;
}

.img-content-left-desktop img {
  display: none;
  @include mq(lg) {
    float: left;
    margin: 2rem 2rem 2rem 0;
  }
}